<div class="footer container">
    <div class="back-to-top four columns">
        <a href="">Back to top</a>
    </div>
    <div class="footer-nav two columns">
        {% if page.previous.url %} 
            <a href="{{ page.previous.url }} ">Previous</a> 
        {% endif %}
        {% if page.previous.url and page.next.url %}
            /
        {% endif %}
        {% if page.next.url %} 
            <a href="{{ page.next.url }} ">Next</a> 
        {% endif %}
        &nbsp;
    </div>
    <div class="offsite-links ten columns">
        <a class="twitter-link" href="http://www.twitter.com/jianxioy">Twitter</a>
        &nbsp&nbsp&nbsp
        <a class="rss-link" href="/feed">RSS</a>
    </div>
</div>
