<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Daryl Yeo</title>
    <meta name="author" content="Daryl Yeo, @jianxioy">
    <meta name="description" content="Blind Alley Graffiti | Scrawlings on the wall by Daryl Yeo. Daryl is a Singaporean developer working at Lumos Labs.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="/static/css/base.css" />
     <link rel="stylesheet" href="/static/css/skeleton.css" />
     <link rel="stylesheet" href="/static/css/layout.css" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
