<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daryl Yeo{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="description" content="Blind Alley Graffiti | Scrawlings on the wall by Daryl Yeo. Daryl is a Singaporean developer working at Lumos Labs." />
    <link rel="alternate" type="application/atom+xml" title="Daryl Yeo | Blind Alley Graffiti" href="http://feeds.feedburner.com/jianxioy/blindalleygraffiti?format=atom" />
    <meta property="og:title" content="Daryl Yeo | Blind Alley Graffiti" />
    <meta property="og:description" content="Blind Alley Graffiti | Scrawlings on the wall by Daryl Yeo. Daryl is a Singaporean developer working at Lumos Labs.">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://darylyeo.com/static/images/logo-big.png" />
    <meta property="article:author" content="http://darylyeo.com/about/" />
    <link rel="author" href="https://plus.google.com/113142563816697551777" />
    <link rel="canonical" href="http://darylyeo.com/" />
    <meta property="og:url" content="http://darylyeo.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/skeleton.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/syntax.css" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
