/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
h1 {
	font-family: ChaparralPro-Regular, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 3.6rem;
	font-weight: bold;
	color: #000;
	text-rendering: optimizeLegibility;
}

h2 {
	font-family: ChaparralPro-Regular, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 3.1rem;
	font-weight: bold;
	color: #000;
	text-rendering: optimizeLegibility;
}

h3 {
	font-family: ChaparralPro-Regular, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 2.6rem;
	font-weight: bold;
	color: #000;
	text-rendering: optimizeLegibility;
}

h4 {
	font-family: ChaparralPro-Regular, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 2.1rem;
	font-weight: bold;
	color: #000;
	text-rendering: optimizeLegibility;
}

h5 {
	font-family: ChaparralPro-Regular, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 1.6rem;
	font-weight: bold;
	color: #000;
	text-rendering: optimizeLegibility;
}

h6 {
	font-family: ChaparralPro-Regular, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 1.1rem;
	font-weight: bold;
	color: #000;
	text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-container {
    margin-top: 50px;
    border-bottom: 1px solid #CCC;
    font-family: MetaBookLF-Roman, Arial, Verdana, sans-serif;
}
 
#logo-primary {
	margin: 0;
}

#nav-primary ul {
	position: relative;
	float: right;
	right: -50px;
}

#nav-primary ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 130px;
}

.content {
	margin: 50px 0;
	font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 16px;
}

.links {
	font-family: ChaparralPro-Regular, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-weight: bold;
}

.footer {
	padding: 20px 0 40px;
	overflow: hidden;
	border-top: 1px solid #CCC;
    font-family: MetaBookLF-Roman, Arial, Verdana, sans-serif;
}

.back-to-top, .offsite-links {
	width: 33.3%;
	position: relative;
	right: 10px;
}

.offsite-links {
	text-align: right;
	position: relative;
	left: 10px;
}

/* #Page Styles
================================================== */
#home-avatar {
	position: relative;
	right: 38px;
}

#home-content {
	position: relative;
	right: -10px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	/* iPad */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#nav,
		#logo-primary,
		#nav-primary,
		#avatar,
		#latest,
		.footer,
		.back-to-top,
		.offsite-links {
			width: 90%;
		}
		#home-avatar {
			top: 60px;
			left: 20px;
		}
		#home-content{
			width: 55%;
		}
		#nav-primary ul {
   			position: relative;
			float: right;
			right: -80px;
			bottom: 39px;
			margin-bottom: -20px;
		}
		#latest {
			position: relative;
			left: 30px;
			bottom: 39px;
		}
		.back-to-top {
			position: relative;
			right: 10px;
		}
		.offsite-links {
			position: relative;
			left: 315px;
			top: -21px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#logo-primary,
		#nav-primary,
		#avatar,
		.back-to-top,
		.offsite-links {
			width: 80%;
		}
		#home-avatar {
			left: 30px;
		}
		#nav-primary ul {
   			position: relative;
			float: right;
			right: -105px;
			bottom: 39px;
			margin-bottom: -20px;
		}
		#latest {
			width: 95%;
			position: relative;
			top: 20px;
			left: 10px;
			padding-bottom: 30px;
		}
		.back-to-top {
			position: relative;
			left: 0;
		}
		.offsite-links {
			position: relative;
			left: 0;
			bottom: 20px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#logo-primary,
		#nav-primary,
		#avatar,
		.back-to-top,
		.offsite-links {
			width: 90%;
		}
		#home-avatar {
			left: 30px;
		}
		#nav-primary ul {
   			position: relative;
   			right: 5px;
   			top: 5px;
			bottom: 39px;
			margin-bottom: 30px;
		}
		#latest {
			position: relative;
			top: 20px;
			left: 10px;
			padding-bottom: 30px;
		}
		.back-to-top {
			position: relative;
			left: 0;
		}
		.offsite-links {
			position: relative;
			left: 0;
			bottom: 20px;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/